export(estat)
export(jwdid)
export(jwdid_aggte)
export(jwdid_calendar)
export(jwdid_event)
export(jwdid_group)
export(jwdid_any)
export(jwdid_attgt)
export(jwdid_simple)
S3method(coef,jwdid)
S3method(nobs,jwdid)
S3method(predict,jwdid)
S3method(print,jwdid)
S3method(print,jwdid_aggte)
S3method(vcov,jwdid)
importFrom(fixest,feols)
importFrom(stats,coef)
importFrom(stats,model.matrix)
importFrom(stats,predict)
importFrom(stats,terms)
importFrom(stats,vcov)
